*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  color: #434455;
  background-color: white;
}
body a {
  text-decoration: none;
  color: #2e2f42;
}
.top-line {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
}
.logo {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  text-transform: uppercase;
  margin: 24px 76px 24px 156px;
}
.logo span {
  color: #4d5ae5;
}
.menu {
  display: flex;
  list-style-type: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  gap: 40px;
  margin-right: 332px;
}
.menu a:hover,
.menu a:active {
  color: #404bbf;
}
.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
  margin-right: 156px;
}
.contacts a:hover {
  color: #404bbf;
}
.hero {
  background: #2e2f42;
}
.hero h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding: 188px 472px 48px;
}
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding-block: 16px;
  padding-inline: 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  /* margin-left: 636px;
  margin-bottom: 188px;*/
  display: flex;
  margin: 0 auto;
  margin-bottom: 188px;
}
.btn:hover {
  background: #404bbf;
}
.features {
  display: flex;
  list-style-type: none;
  text-align: left;
  margin: 120px 156px;
  gap: 24px;
}
.features h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 8px;
}
.features p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team {
  background: #f4f4fd;
}
.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding: 120px 632px;
}
.cards {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 24px;
  padding-bottom: 120px;
}
.cards h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 8px;
}
.cards p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-card {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  border-radius: 0 0 4px 4px;
  padding-block: 0px 32px;
  padding-inline: 0px;
  width: 264px;
  height: 380px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.card-content {
  padding: 32px 16px;
}
.text {
  background: #2e2f42;
  padding: 100px 1020px 100px 156px;
}
.text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding-top: 16px;
}
.logo-footer span {
  color: #4d5ae5;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
